<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>ADMIN</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/dashboard/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!--  -->
    <!-- <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> -->
    <!--  -->
    <link rel="stylesheet" href="/css/admin-style.css">
</head>

<body>


    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">MindMatch</a>

        <input style="margin-right: 40%!important;" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="btn btn-danger" href="/logout">Logout</a>
            </li>

        </ul>
    </nav>




    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Customers
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Reports
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Clear Chat
                    </a>
                </li>

            </ul>

        </div>
    </nav>





    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
