<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Mind-Match</title>

    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4f46b7c30b.js" crossorigin="anonymous"></script>

</head>

<!-- navbar for not logged in user -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand  hovercolor larger" style="font-size: 28px !important;" href="/"> <img src="/images/mm.png" style="height:40px; width: 40px;"> MindMatch </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active left"> <a class="nav-link hovercolor larger" href="/">  Home</a> </li>
        <li class="nav-item active left"> <a class="nav-link hovercolor larger" href="/about">About</a> </li>
        <li class="nav-item active left"> <a class="nav-link hovercolor larger" href="/contact">Contact</a> </li>
        <li class="nav-item active left"> <a class="nav-link hovercolor larger" href="/contributors">Contributors</a> </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a href="/adminlogin" class="btn btn-success">Admin-Login</a> </li>
    </ul>
</nav>

<body class="bg-light">
