<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Mind-Match</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index-style.css">

</head>

<!-- navbar for not logged in user -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> MindMatch </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active left"> <a class="nav-link" href="/">Home</a> </li>
        <li class="nav-item active left"> <a class="nav-link" href="/about">About</a> </li>
        <li class="nav-item active left"> <a class="nav-link" href="/contact">Contact</a> </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a href="/adminlogin" class="btn btn-success">Admin-Login</a> </li>
    </ul>
</nav>

<body>
