</body>

<footer>
    <div class="footer-container">
        <p>
            <a style="color:black;" href="https://www.facebook.com/profile.php?id=100004974615869x"><i class="social-icon fa-2x fab fa-facebook-f"></i></a>
            <a style="color:black;" href="https://www.instagram.com/akhil_choudhary2k/"><i class="social-icon fa-2x fab fa-instagram"></i></a>
            <a style="color:black;" href="https://www.linkedin.com/in/akhilchoudhary2k/"><i class="social-icon fa-2x fab fa-linkedin"></i></a> <br> <br>
            Created by <b><i>Akhil Choudhary</i></b> | 18CS10070
        </p>
    </div>
</footer>


</html>
