<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <title> <%= username %> </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="bg-light">

    <!-- navbar for logged in user -->
    <nav class="above navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand hovercolor larger" href="/UserHome"> MindMatch </a>
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active rightSpace "> <a class="nav-link hovercolor larger" href="/UserHome">My Dashboard</a> </li>
            <li class="nav-item active rightSpace "> <a class="nav-link hovercolor larger" href="/help">Help</a> </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active ">
                <div class="dropdown">
                    <!-- dropbtn class was added in the button below -->

                    <button class="btn btn-outline-success rightSpace larger"> UserName: <%= username %> <i class="fas fa fa-chevron-circle-down"></i> </button>
                    <div class="dropdown-content">
                        <% var myprofilelink = "/profile/" + username; %>
                        <!-- <% console.log(myprofilelink) %> -->
                        <a href= <%= myprofilelink %> > My Profile</a>
                        <a href="#">Change password</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </li>

            <li class="nav-item active"> <a href="/logout" class="btn btn-danger larger">Logout <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </li>
        </ul>
    </nav>


    <!-- Side navigation -->
    <div class="makeSpaceAbove sidenav ">
        <a href="/getsuggestions">Get Suggestions</a>
        <a href="/updatedetails">Update details</a>
        <a href="/messages">Chat/Messages</a>
        <a href="/search">Search</a>
        <a href="/privacysettings">Privacy Settings</a>
    </div>

    <!-- Page content -->
    <div class="main">
