<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <title> <%= username %> </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="bg-light">

    <!-- navbar for logged in user -->
    <nav class="above navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand hovercolor larger" href="/UserHome"> MindMatch </a>
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active rightSpace "> <a class="nav-link hovercolor larger" href="/UserHome"> <i class="fa-6x fa fas fa-home"></i> My Dashboard</a> </li>
            <li class="nav-item active rightSpace "> <a class="nav-link hovercolor larger" href="/help"> <i class="fa fas fa-question-circle"></i> Help</a> </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active ">
                <div class="dropdown">
                    <!-- dropbtn class was added in the button below -->

                    <button class="btn btn-outline-success rightSpace larger"> <i class="fa fas fa-user icon"></i> <%= username %> <i class="fas fa fa-chevron-circle-down"></i> </button>
                    <div class="dropdown-content">
                        <% var myprofilelink = "/profile/" + username; %>
                        <!-- <% console.log(myprofilelink) %> -->
                        <a href= <%= myprofilelink %> > My Profile</a>
                        <a href="#">Change password</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </li>

            <li class="nav-item active"> <a href="/logout" class="btn btn-danger larger">Logout <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </li>
        </ul>
    </nav>


    <!-- Side navigation -->
    <div class="makeSpaceAbove sidenav ">
        <a href="/getsuggestions"> <i class="fa fas fa-users icon"></i> Get Suggestions</a>
        <a href="/updatedetails"> <i class="fa far fa-edit icon"></i> Update details</a>
        <a href="/messages"> <i class="fa fas fa-envelope icon"></i> Chat/Messages</a>
        <a href="/search"> <i class="fa fas fa-search icon"></i> Search</a>
        <a href="/privacysettings"> <i class="fa fas fa-cog icon"></i> Privacy Settings</a>
    </div>

    <!-- Page content -->
    <div class="main">
