<%- include('partials/index-header') -%>

<div class="topdiv" >

    <img src="/images/img3.jpg" alt="">
    <div class="my-container">
        <h1 style="margin-top:400px;" >About</h1>
        <br>
        <h5>
            We will ask you some questions related to your <br> <br>
            <ul>
                <li>academic interests</li>
                <li>your hobbies</li>
                <li>your personality</li>
            </ul>

            <br> <br>
            And will suggest you like minded people <br>
            with % match.
            <br> <br>
            Features:
            <ul>
                <li>Search a user.</li>
                <li>Send them messages.</li>
                <li>Connect with them.</li>
                <li>Update your details anytime</li>
                <li>Privacy to hide your information</li>
                <li>Generate suggestions anytime</li>

            </ul>
        </h5>
    </div>
</div>


<%- include('partials/index-footer') -%>
