<%- include('partials/index-header') -%>

<div class="topdiv" >

    <img src="/images/img3.jpg" alt="">
    <div class="my-container">
        <h1>About</h1>
        <br>
        <h5>As the name suggests this application will be aimed at connecting like-minded people in the
            community by giving them suggestions and % match with each of the suggested persons.</h5>
    </div>
</div>


<%- include('partials/index-footer') -%>
