<%- include('partials/index-header') -%>

<div class="topdiv" >

    <img src="/images/img3.jpg" alt="">
    <div class="my-container">
        <h1> Contact </h1>
        <br>
        <h5>Email: akhil.choudhary2000@gmail.com</h5>
    </div>
</div>


<%- include('partials/index-footer') -%>
