<%- include('partials/index-header') -%>

<div class="topdiv" >

    <img src="/images/img3.jpg" alt="">
    <div class="my-container">
        <h1 style="margin-top:150px;" > Contact Us </h1>
        <br>
        <h5> <b>Email :</b> <br> akhil.choudhary2000@gmail.com</h5> <br> <br>
        <h5> <b>Address:</b>  <br> Patel Hall of Residence, IIT Kharagpur, WB</h5>
    </div>
</div>


<%- include('partials/index-footer') -%>
