    <%- include('partials/index-header') -%>

    <div class="topdiv" >

        <img src="/images/img1.jpg" alt="">
        <div class="logo-container">
            <p class="logo" >Mind Match</p>
        </div>
    </div>


        <!-- <img src="/images/img1.png" alt=""> -->


    <!-- <div class="container" style="margin-top:100px; margin-bottom:100px;" >
        <a href="/login" class="btn btn-success ">Log-In</a>
        <a href="/register" class="btn btn-success ">Register</a> <br>
    </div> -->


    <div style="text-align:center;" >
        <div class="btn-group"  >
            <a href="/login" class=" homebuttom btn btn-outline-success "><h1>Log-In</h1></a>
            <a href="/register" style="margin-left: 10px;" class=" homebuttom btn btn-outline-success "><h1>Register</h1></a> <br>
            <!-- <button type="button" href="/login" class=" homebuttom btn btn-outline-success">  </button>
            <button type="button" href="/register"  class=" homebuttom btn btn-outline-success">  </button> -->
        </div>
    </div>


    <%- include('partials/index-footer') -%>
