    <%- include('partials/index-header') -%>



    <section id="title" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 style="padding-top:50px; padding-bottom: 50px;" >Connecting Minds and creating futures</h1>
                    <h1 style="padding-top:50px;">MindMatch.</h1>
                    <a href="/login" class=" btn btn-dark btn-lg "> <h3>Log-In</h3> </a>
                    <a href="/register" class="btn btn-outline-dark btn-lg " > <h3>Register</h3> </a>
                </div>
                <div class="col-lg-6">
                    <img src="/images/img2.png" alt="">
                </div>
            </div>
        </div>
    </section>



    <section id="features">
        <div class="row ">
            <div class="col-lg-4">
                <i class="far fa fa-check-circle" aria-hidden="true"></i>
                <h3>Easy to use.</h3>

            </div>
            <div class="col-lg-4">
                <i class="far fa-dot-circle" aria-hidden="true"></i>
                <h3>User Friendly</h3>

            </div>
            <div class="col-lg-4">
                <i class="fas fa-heart" aria-hidden="true"></i>
                <h3>Guaranteed to work.</h3>

            </div>

        </div>
    </section>

    <section id="show" >
        <h1>Like Minded people are just a click away form you</h1>
    </section>



    <%- include('partials/index-footer') -%>
