    <%- include('partials/index-header') -%>

    <div class="jumbotron">
        <div class="container">

            <h2>Welcome to MindMatch</h2>

        </div>
    </div>

    <div class="container">
        <a href="/login" class="btn btn-primary ">Log-In</a>
        <a href="/register" class="btn btn-primary ">Register</a>
    </div>


    <%- include('partials/index-footer') -%>
