<%- include('partials/index-header') -%>

<div class="box">
    <h1 class="heading">Login</h1>

    <% var b = (message.length === 0 ) %>
    <p <%= b ? "hidden" : ""  %> style="color: red" > Error  :  <%= message %> </p>

    <form class="" action="/login" method="post" >

        <div class="form-group">
            <label for="">Username (not e-mail ID)</label>
            <input type="text" class="form-control" name="username" value="" autofocus required placeholder="Enter your username ">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" required value="" placeholder="Enter your password">
        </div>
        <div class="form-group">
            <button type="submit" class=" form-control btn btn-success btn-lg space" name="button">Log-In</button>
        </div>

        <p class="center" >
            Don't have an account?
            <a href="/register">Register</a>
        </p>
    </form>
</div>


<%- include('partials/index-footer') -%>
