<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

    <div class="jumbotron">
        <h1> Search </h1>
    </div>

    <div class="container">
        <div class="box">
            <h2>Search in the database</h2>
            <p class="lint">
                Here you can search for users with some particular interests
            </p>
        </div>
    </div>

    <div class="container">
            <form class="" action="" method="post">
                <div class="row">
                    <input autofocus placeholder="Search by   Username, First Name, Last Name" required type="text" class="form-control col-8 expand2" name="query" value="">
                    <button style="margin-left: 10px;" type="submit"  class="col-3 btn btn-lg btn-success expand2" name="button" value="byName"> <i class="fa fas fa-2x fa-search icon"></i> <b style="font-size: 30px;">Search</b> </button>
                    <small class="form-text text-muted" >To see all the users hit the <b>space key " "</b> and press enter</small>
                </div>
            </form>
    </div>

    <div class="container">
        .........
        <!-- <h3>Advanced Search:</h3> -->
        <!-- <h5>You may also choose some filters : </h5> -->
        <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </div>


<%- include('partials/user-footer') -%>
