<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

    <div class="jumbotron">
        <h1> Chat/Messages </h1>
    </div>




<%- include('partials/user-footer') -%>
