    <%- include('partials/user-header') -%>

    <br>
    welcome to your home
    <br>
    <%= user.username %>
    <br>
    <a href="/logout" class="btn btn-danger" > Logout </a>

    <%- include('partials/user-footer') -%>
