<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

    <div class="jumbotron">
        <h1> Get Suggestions </h1>
    </div>

    <div class="container">
        <div class="box">
            <h2>Generate suggestions</h2>
            <p class="lint">
                You will be suggested people like minded to you
            </p>
        </div>
    </div>


<%- include('partials/user-footer') -%>
