<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        ** here user is the person whose profile is to be displayed **
        user object is accessible here  %>

    <div class="jumbotron">
        <h1> Profile of user : <i>  <%= user.username %> </i>   </h1>
    </div>




<%- include('partials/user-footer') -%>
