<%- include('partials/user-header') -%>

<%#  as this is a ejs file
        user object is accessible here  %>

    <div class="jumbotron">
        <h1> Search </h1>
    </div>

    <div class="container">
        <div class="box">
            <h2>Search in the database</h2>
            <p class="lint">
                Here you can search for users with some particular interests
            </p>
        </div>
    </div>

    <div class="container">
            <form class="" action="" method="post">
                <div class="row">
                    <input placeholder="Search by keywords" type="text" class="form-control col-9 expand2" name="" value="">
                    <button type="submit"  class="col-3 btn btn-lg btn-success expand2" name="button"> <i class="fa fas fa-2x fa-search icon"></i> <b style="font-size: 30px;">Search</b> </button>
                </div>
            </form>
    </div>

    <div class="container">
        <h3>You may also choose some filters : </h3>
    </div>


<%- include('partials/user-footer') -%>
