    <%- include('partials/user-header') -%>

       <%#  as this is a ejs file
            user object is accessible here  %>

    <div class="jumbotron">
        <h1> DashBoard </h1>

    </div>

    <div style="text-align: center; margin-bottom: 30px; margin-top: 50px;">
        <span <%= user.hasFilledTheForm ? "hidden" : ""  %> class="warning">
            You have not filled the User Details form,
            <a href="/updatedetails">click here</a> to fill the form.
        </span>
    </div>

    <div class="box">
        <h3>Hi  <%= user.username %> </h3> <br>
        <h5>Welcome to your HOMEPAGE</h5>
    </div>

    <%# <br>
    welcome to your home
    <br>
     %>


    <%- include('partials/user-footer') -%>
