
footer p {
    margin-top: 10%;
    text-align: center;
}

.above{
    z-index: 10;
}

.makeSpaceAbove{
    padding-top: 100px !important;
}

.navbar-brand{
    margin-right: 6%;
}

.rightSpace{
    margin-right: 30px;
}

.box{
    text-align: center;
    width: 40%;
    margin: auto;
}


/* The sidebar menu *************************************************************************************************************/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  /* color: #818181; */
  color: white;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
  border-bottom: solid;
  border-color: grey;
  border-width: 1px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  /* color: #f1f1f1; */
  color: green;
  /* text-decoration: underline; */
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  /* padding: 0px 10px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/**************************************************************************************************************************/

/* Dropdown Button ********************************************************************************************************/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*********************************************************************************************************************/
